h1, h3 {
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: lighter;
}

h3 {
    margin-bottom: 5px;
}

body {
    background-color: #eef2f7;
    font-family: "Overpass", sans-serif;
    font-size: 16px;
}

header {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
    color: #2c3e50;
    font-style: italic;
}


#result_table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 40px;
}

#result_table th, #result_table td {
    border: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
    font-size: 14px;
}

button {
    padding: 6px 12px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 10%;
    background-color: #f4f6f9;
    cursor: pointer;
    transition: border-color 0.2s, box-shadow 0.2s, background-color 0.1s;
}


button:hover {
    border-color: #4A90E2;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.6);
    background-color: #f9f9f9;
}


button:active {
    background-color: #4A90E2;
    color: #fff;
    border-color: #357ABD;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}